<div id="dvCountryChart" class="container">

	<div class="row well">

		<div class="col-xs-12 col1">
			<a class="btn btn-default" href="/analyse">Country Stats</a>

		</div>
		<hr/>
		<div class="col-xs-12  col1">
			<div class = "progress progress-striped" ng-show="enabled">
				<div class = "progress-bar progress-bar-success" role = "progressbar" aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "width: 90%;">
					<span class = "sr-only">90% Complete (Sucess)</span>
				</div>
			</div>

			<div id="countrychrtdiv" ></div>

		</div>

	</div>
	<div class="row well">
		<div class="col-xs-10 col1">
			<a class="btn btn-default" href="/resource">Resource Stats</a>

		</div>
		<hr/>
		<div class="col-xs-10  col1">
			<div id="resourcechrtdiv" ></div>
		</div>

	</div>

	<div class="row well">
		<div class="col-xs-10  col1">
			<a class="btn btn-default"
			href="/http">HTTP Code Stats</a>

		</div>
		<hr/>
		<div class="col-xs-10 col1">
			<div id="httpchrtdiv"></div>

		</div>

	</div>

</div>

</div>

