<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			Resource summary
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td><a href="#" ng-click="sortType = 'key'; sortReverse = !sortReverse"> Resource <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'key' && sortReverse" class="fa fa-caret-up"></span> </a></td>
						<td><a href="#" ng-click="sortType = 'value'; sortReverse = !sortReverse"> Hits <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'value' && sortReverse" class="fa fa-caret-up"></span> </a></td>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="(key,value) in data | orderBy:value">
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>