<!DOCTYPE html>
<html ng-app="MyApp">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<title>ShowTrackr</title>
		<link href="favicon.png" rel="icon" type="image/png">
		<link href='http://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<link href="//cdn.jsdelivr.net/ionicons/1.4.1/css/ionicons.min.css" rel="stylesheet">
		<link href="stylesheets/animate.css" rel="stylesheet">
		<link href="stylesheets/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">

	</head>
	<body>
		<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> <span>Log<strong>AN</strong></span> </a>
			</div>
			<ul class="nav navbar-nav">
				<li data-match-route="/$">
					<a href="/">Home</a>
				</li>
				<li data-match-route="/add">
					<a href="/add">Add</a>
				</li>
				<li data-match-route="/dashboard">
					<a href="/dashboard">Dashboard</a>
				</li>
				<li data-match-route="/analyse">
					<a href="/analyse">IP Summary</a>
				</li>
				<li data-match-route="/http">
					<a href="/http">HTTP Code Summary</a>
				</li>
				<li data-match-route="/resource">
					<a href="/resource">Resource Summary</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-if="!currentUser">
				<li data-match-route="/login">
					<a href="/login">Login</a>
				</li>
				<li data-match-route="/signup">
					<a href="/signup">Sign up</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-if="currentUser">
				<li class="navbar-text" ng-bind="currentUser.email"></li>
				<li>
					<a href="javascript:void(0)" ng-click="logout()">Logout</a>
				</li>
			</ul>
		</div>

		<div ng-view class="{{pageClass}}"></div>

		<script src="vendor/angular.js"></script>
		<script src="vendor/angular-strap.js"></script>
		<script src="vendor/angular-strap.tpl.js"></script>
		<script src="vendor/angular-messages.js"></script>
		<script src="vendor/angular-resource.js"></script>
		<script src="vendor/angular-route.js"></script>
		<script src="vendor/angular-animate.js"></script>
		<script src="vendor/moment.min.js"></script>
		<!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
		<script type="text/javascript"
		src="https://www.google.com/jsapi?autoload=
		{'modules':[{'name':'visualization','version':'1.1','packages':
		['corechart']}]}"></script>

		<script src="app.js"></script>
		<script src="filters/fromNow.js"></script>
		<script src="directives/uniqueEmail.js"></script>
		<script src="directives/passwordStrength.js"></script>
		<script src="controllers/main.js"></script>
		<script src="controllers/detail.js"></script>
		<script src="controllers/add.js"></script>
		<script src="controllers/navbar.js"></script>
		<script src="controllers/login.js"></script>
		<script src="controllers/signup.js"></script>
		<script src="controllers/analyse.js"></script>
		<script src="controllers/http.js"></script>
		<script src="controllers/resource.js"></script>
		<script src="controllers/dashboard.js"></script>
		<script src="services/auth.js"></script>
		<script src="services/show.js"></script>
		<script src="services/subscription.js"></script>

		<script src="js/bootstrap/bootstrap.js"></script>
		<script src="js/jquery.js"></script>

		<!--<script src="app.min.js"></script>-->
		<!--<script src="templates.js"></script>-->
	</body>
</html>